<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" routerLink="home">Janno Tjarks</a>
            <button class="navbar-toggler d-lg-none" type="button" (click)="navbarOpen = !navbarOpen" [attr.aria-expanded]="!navbarOpen" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="navbarOpen">
                <ul class="navbar-nav flex-grow-1" routerLinkActive="active">
                    <li class="nav-item">
                        <a class="nav-link black" routerLink="home" routerLinkActive="active">Über mich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="resume" routerLinkActive="active">Lebenslauf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="imprint" routerLinkActive="active">Impressum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black" routerLink="privacy" routerLinkActive="active">Datenschutzerkl&auml;rung</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3" style="max-width:960px;">    
        <router-outlet></router-outlet>
    </main>
</div>

<footer class="border-top text-muted">
    <div class="text-center mt-3 mb-3">
      &copy; 2020 - Janno Tjarks - <a routerLink="imprint">Impressum</a> - <a routerLink="privacy">Datenschutzerkl&auml;rung</a>
    </div>
</footer>