<h1>Lebenslauf</h1>
<p><a href={{environmentVariables.curriculumVitae}}>Herunterladen als PDF</a></p>
<hr class="m-3" />
<!-- Beruflicher Werdegang-->
<section id="beruflicher-werdegang">
    <h2 class="mb-4">Beruflicher Werdegang</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="flex-grow-1">
            <h4 class="mb-1">Network Engineer</h4>
            <div class="subheading mb-3">ENERCON IT Service GmbH</div>
            <p>
                Service Owner: Loadbalancing & Web-Services<br>
                T&auml;tig in der Abteilung Networks & Telecommunications                
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">07/2019 – heute</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="flex-grow-1">
            <h4 class="mb-1">Dualer Student</h4>
            <div class="subheading mb-3">ENERCON IT Service GmbH</div>
            <p>
                T&auml;tig in der Abteilung Networks & Telecommunications
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">08/2016 – 06/2019</span></div>
    </div>
</section>
<hr class="m-3" />
<!-- Bachelorthesis -->
<section id="bachelorthesis">
    <h2 class="mb-4">Bachelorthesis</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <p style="font-size: 1.2rem;">Ablösung der öffentlichen Reverse-Proxy-Landschaft der ENERCON Unternehmensgruppe und Migration jener in F5 Networks BIG-IP’s</p>
        <p class="flex-shrink-0">Prüfer: Prof. Dr. Gerd von Cölln</p>
    </div>
</section>
<hr class="m-3" />
<!-- Bildungsgaenge -->
<section id="bildungsgaenge">
    <h2 class="mb-4">Bildungsgänge</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="flex-grow-1">
            <h4 class="mb-1">Duales Studium - Wirtschaftsinformatik</h4>
            <div class="subheading mb-1">Bachelor of Science (B.Sc.)</div>
            <p>
                Hochschule Emden-Leer
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">08/2016 – 06/2019</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="flex-grow-1">
            <h4 class="mb-1">Ausbildung - Fachinformatiker</h4>
            <div class="subheading mb-1">Fachrichtung Anwendungsentwicklung</div>
            <p>
                Industrie- u. Handelskammer für Ostfriesland u. Papenburg
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">08/2016 – 07/2018</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="flex-grow-1">
            <h4 class="mb-1">Sekundarstufe I & II</h4>
            <div class="subheading mb-1">Gymnasium Ulricianum-Aurich</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">08/2008 – 07/2016</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
        <div class="flex-grow-1">
            <h4 class="mb-1">Primarstufe</h4>
            <div class="subheading mb-1">Grundschule Plaggenburg</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">08/2004 – 07/2008</span></div>
    </div>
</section>
<hr class="m-3" />
<!-- Sprachen-->
<section id="sprachen">
    <h2 class="mb-4">Sprachen</h2>
    <div class="d-flex bd-highlight mb-3">
        <div class="col-md-2 bd-highlight">Hochdeutsch</div>
        <div class="bd-highlight">Muttersprache</div>
    </div>
    <div class="d-flex bd-highlight mb-3">
        <div class="col-md-2 bd-highlight">Englisch</div>
        <div class="bd-highlight">Flie&szlig;end</div>
    </div>
    <div class="d-flex bd-highlight mb-3">
        <div class="col-md-2 bd-highlight">Plattdeutsch</div>
        <div class="bd-highlight">Verhandlungssicher</div>
    </div>
</section>